.operations {
    border-radius: 20px;
    border-color: red;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

img.operator:hover {
    border-radius: 10px;
    border: 10px solid red;
}

.operator {
    display: inline;
    width: 150px;
    height: 150px;
    margin: 35px;
}

.operator2 {
    display: inline;
    width: 150px;
    height: 150px;
    margin: 35px;
}

body {
    font-family: sans-serif;
    background-image: url('Megamind_Profile.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    margin-left: 20px;
}

.loadpage-button {
    position: relative;
    left: 450px;
    bottom: 100px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: lightblue;
    color: black;
    border-radius: 5px;
    border: 4px solid red; 
}

.calculator {
    font-size: 30px;
    size: 30px;
}


.scores {
    background-color: blanchedalmond;
    border: 6px solid black;
    position: absolute;
    top: 170px;
    left: 750px;
    border-radius: 20px;
    width: 150px;
    height: 70px;
    text-align: center;
}

.num {
    font-size: 100px;
    color: aqua;
}

.calculate {
    position: absolute;
    height: 500px;
    font-size: 30 px;
    color: white;
}

.equal {
    font-size: 130px;
    margin-left: 50px;
}

.answer-box {
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    border: 10px solid cyan;
    position: relative;
    bottom: 20px;
}

.calculation {
    position: relative;
    top: 50px;
    right: 990px;
    height: 50px;
    font-size: 40px;
    border-radius: 10px;
    border: 5px solid cyan;
}

.change-operation {
    position: relative;
    top: 45px;
    right: 960px;
    font-size: 25px;
    border-radius: 10px;
    border: 5px solid cyan;
}

.play-again {
    position: relative;
    left: 500px;
    font-size: 25px;
    border-radius: 10px;
    border: 5px solid cyan;
    bottom: 15px;
}